<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/table.css")
    @Styles.Render("~/Content/page.css")
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/Scripts/grid.js"></script>
</body>
</html>
