.helper {
    width: 55em;
    padding: 2em;
    border: solid 0.5px #ccc;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    top: 5em;
    left: 12em;
    box-shadow: 0 4px 8px 0 #ccc;
}

    .helper span {
        float: right;
        cursor: pointer;
    }

.btnHelper{
    cursor: pointer;
}
